#map { 
    height: 70%;
    width: 80%;
    margin: 0 auto;
}

#content { 
    margin: 5%; 
}

#map_content #map {    
    position:relative;
}

#map_content #add_report_button {
    position:absolute;
    top:15px;
    left:55px;
/*    background:blue;
    color:#FFF;
    padding: 15px;*/
    z-index: 100000000;
/*    text-decoration:none;
    font-weight:bold;
    border-radius: 8px;*/
}

#reports { 
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.report { 
    margin: 20px;
    display: inline-block;
    font-size: 12px;
    border: 2px solid #337ab7;
    padding: 20px;
    width: 16%;
    border-radius: 8px;
    z-index: 1;
}

.report_user { 
    margin: 20px;
    display: inline-block;
    font-size: 12px;
    border: 2px solid #337ab7;
    padding: 20px;
    width: 20%;
    border-radius: 8px;
    cursor: pointer;
}

.comment_report { 
    margin: 20px;
    display: inline-block;
    font-size: 12px;
    border: 2px solid #337ab7;
    padding: 20px;
    border-radius: 8px;
}

#pagination_content { 
    width: 80%;
    margin: 0 auto;
    text-align:center;
}

.user_link { 
    cursor: pointer;
    font-weight: bold;
    color: #337ab7;
    z-index: 1000;
}

.page_link {
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.active { 
    background-color: #337ab7;
    color: white;
    border: 1px solid #337ab7;
}

.page_link:hover,
.page_link:focus {
    border: 1px solid #337ab7;
    text-decoration:none;
    cursor: pointer;
}

.page_link .active a:hover,
.page_link .active a:focus {
    color: #fff;
}

#user_reports { 
    margin: 0 auto;
}

#user_pagination_content { 
    width: 80%;
    margin: 0 auto;
    display: block;
}

.user_pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}
.user_pager li {
  display: inline;
}

#user_info { 
    float:left;
    padding: 30px;
}

#user_reports_section {
    float: left;
    display: inline-block, 
    margin: 0 auto;
}

#user_section { 
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#report_info { 
    float:left;
    padding: 30px;
}

#report_comments_section {
    float: left;
    display: inline-block, 
    margin: 0 auto;
}

#report_section { 
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.report_clickable_area { 
    cursor: pointer;
}

#filter_section { 
    width: 80%;
    margin: 25px auto;
}

#filter_section button { 
    margin-left: 15px;
}

#date_picker_filter { 
    margin-left: 10px;
}

#project, #methodology { 
    text-align: justify;
    margin: 30px 10% 10%;
}

#footer img { 
    margin-right: 25px;
}

#footer { 
    margin: 50px auto;
    text-align: center;
}