<div id="modal-login">
  <div class="modal-header">
    <h4 class="modal-title" translate>Geolocation error</h4>
    <button type="button" class="modal-header-close" title="Close" ng-click="close()">&times;</button>
  </div>
  <div class="modal-body">
  	<p translate>Your browser does not support geolocation correctly or it do not have sufficient permissions.</p>
    <p translate>You must click on the map to add a report. The "add report" button will not work.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" ng-click="close()" translate>Ok</button>
  </div>
</div>