# Osx
.DS_Store

# Private
web/odour/webservice/db_config.php

# Intellij
*.iml
app/.idea/workspace.xml
app/.idea/tasks.xml
app/.idea/gradle.xml
app/.idea/dictionaries
app/.idea/libraries

# Gradle files
app/.gradle/
app/build/